{% extends 'base.html.twig' %}

{% block title %}New fonction{% endblock %}
{% block activecategory %}active{% endblock %}
{% block section %}
    {{ form_start(form) }}
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Create a fonction</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->

        <form>
            <div class="card-body">
                <div class="form-group">
                    <label for="exampleInputEmail1">{{ form_label(form.fonctionName) }}</label>
                    {{ form_widget(form.fonctionName,{'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">{{ form_label(form.fonctionDescription) }}</label>
                    {{ form_widget(form.fonctionDescription,{'attr': {'class': 'form-control'}}) }}
                </div>
            </div>


            <!-- /.card-body -->

            <div class="card-footer">
                {{ include('fonction/_form.html.twig', {'button_label': 'Save'}) }}
                <a class="btn btn-info btn-sm "href="{{ path('app_fonction_index') }}">Back to list</a>
            </div>

        </form>
    </div>
    {{ form_end(form) }}
{% endblock %}
